<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   https://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/aop
	   https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com"/>
    <aop:aspectj-autoproxy/>
    <!-- 小写java文件名         从包开始写路径 -->
   <!-- <bean id="helloSpring" class="com.ssm.HelloSpring">
        &lt;!&ndash; name写java文件属性名       value自定义&ndash;&gt;
        <property name="userName" value="张三"/>

    </bean>
    <bean id="circle" class="com.test.Circle">
    </bean>
    <bean id="square" class="com.test.Square">
    </bean>
    <bean id="cat" class="com.animal.Cat">
    </bean>
    <bean id="dog" class="com.animal.Dog">
    </bean>


    <bean id="adminInfo" class="com.ssm.entity.AdminInfo" scope="prototype">
        &lt;!&ndash;       <constructor-arg name="pwd" value="123"></constructor-arg>
              <constructor-arg name="name" value="admin"></constructor-arg> &ndash;&gt;
        <property name="id" value="999"/>
        <constructor-arg index="1" value="123456"/>
        <constructor-arg index="0" value="admin123"/>
    </bean>

    <bean id="user" class="com.ssm.entity.User">
        <property name="userID" value="100"/>
        <property name="userName" value="student"/>
        &lt;!&ndash; <constructor-arg name="userID" value="100"></constructor-arg>
         <constructor-arg name="userName" value="student"></constructor-arg> &ndash;&gt;
    </bean>

    <bean id="person" class="com.ssm.entity.Person">
        <property name="user" ref="user"/>
        &lt;!&ndash; <constructor-arg name="user" ref="user"></constructor-arg> &ndash;&gt;
    </bean>

    <bean id="admin" class="com.ssm.entity.AdminInfo" p:id="2031030184" p:name="student" p:pwd="admin">
    </bean>
    <bean id="userDao" class="com.ssm.dao.impl.UserDaoImpl"/>
    <bean id="studentDao" class="com.ssm.dao.impl.StudentDaoImpl"/>
    <bean id="userService" class="com.ssm.service.impl.UserServiceImpl">
        <property name="udao" ref="userDao"/>
        <property name="sdao" ref="studentDao"/>
    </bean>


    <bean id="hero" class="com.ssm.entity.Hero" init-method="born" destroy-method="destroy"/>
    <bean id="batman" class="com.ssm.Batman"/>-->
    <bean id="productService"
          class="com.ssm.service.impl.ProductServiceImpl"/>
    <bean id="myAdvice"
          class="com.ssm.advice.MyAdvice"/>
    <aop:config>
        <aop:pointcut
                expression="execution(* com.ssm.advice.MyAdvice.*(..) )"
                id="pointCut1" />
        <aop:pointcut
                expression="execution(* com.ssm.service.ProductService.*(..) )"
                id="pointCut2" />
        <aop:aspect id="aspect1" ref="myAdvice">
            <aop:after method="afterPrintLog" pointcut-ref="pointCut1" />
            <aop:around method="aroundPrintLog" pointcut-ref="pointCut1" />
        </aop:aspect>
        <aop:aspect id="aspect2" ref="productService">
            <aop:after method="browse" pointcut-ref="pointCut2" />
        </aop:aspect>
    </aop:config>


</beans>